<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.dao.GoodsMapper">
	<select id="getGoods" parameterType="string" resultType="com.accp.pojo.Goods">
		select * from goods
		<trim prefix="where" prefixOverrides="and|or">
			<if test="district!=null">
				and district=#{district}
			</if>
		</trim>
	</select>
</mapper>
